/*

My Custom CSS
=============

Author:  Fariz Anwardeen
Updated: August 2013
Notes:	 Hand coded for Fariz Anwardeen

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
/* Centering the features panel because it is left aligned*/
#features{
   text-align: center;
}
/*the image within feature need to have margin*/
/*first number is top, second one is right/left and the last one would be bottom */
/*20px on the bottom 0 on top and 0 on right and left */
#features img{
   margin:0 0 20px;
}

/*Style for the modal window send button...input message is the text area*/
#inputMessage{
   margin-bottom: 15px;
}
/*Syling the footer*/
footer{
   background:#333;
   color:#eee;
   font-size: 11px;
   padding: 20px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */
/*gives a smoother font*/   
body{
     -webkit-font-smoothing: antialiased;
     text-rendering: optimizelegibility;
}



/* CSS to customize the well to make it look better*/

/* selecting page header within the well and making the margin smaller*/
.well .page-header{
   margin-top:0;

}
/* selecting h1 header within the well and making the margin smaller*/
.well .page-header h1{
   margin-top:0;
}
/*removing the bullet points for an unordered list*/
ul.unstyled{
   list-style: none;
   padding: 0;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */
#searchInput{
   width: 200px;

}
/* adding padding to the navbar 13px is top and bottom padding and 15 is left and right padding*/
.navbar-brand{
   padding:13px 15px;
}
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */

/*push the carousel a little down otherwise it merges with the navbar*/
#myCarousel{
   margin-top: 60px;
}

/* Make carousel caption size larger so we bump it up to 24px*/
.carousel-caption {
   font-size: 24px;
}

/* Increasing header size because it is small*/
.carousel-caption h4{
   font-size: 32px;
}


   /* we add the backgroup images to css instead of html because we can scale the images to smaller size when the browser is shrunk*/
/* selecting all items in carousel... height is set for default size*/
#myCarousel .item { height: 400px; }


   /* .. means go up one folder goes directly to MyWebsite folder... top left is background position, no-repeat means the image does not repeat*/

#slide1 {
   background: url('../../images/carousel_medium_01.jpg') top center no-repeat;
}
#slide2 {
   background: url('../../images/carousel_medium_02.jpg') top center no-repeat;
}
#slide3 {
   background: url('../../images/carousel_medium_03.jpg') top center no-repeat;
}




/* --------------------------------------
   Global Styles
   -------------------------------------- */

/* Giving some space between the carousel and the alert*/
.alert {
   margin-top: 20px ;
   /*We dont want our alert box to display by default dont show it*/
   display:none;
}

/*Giving some space between the carousel and the callout*/
.well {
   margin:20px 0;
}

/*Adding some space for the temporary placeholder image*/
.tabbable img.thumbnail{
   margin: 0 20px 10px 0;
}

/*adding styles to thumbnails, give margin on top and bottom*/
.thumbnails{
   margin: 20px 0;

}
/*Select each thumbnail and give a it position of relative because to position the pricetags absolute*/
/*We need to Postion prictag within the thumbnail, so we position the parent as relative */
.thumbnail{
   position: relative;
}
/*Make the header size smaller*/
.thumbnail h3 {
   font-size: 16px;
   margin: 0 0 10px;
   line-height: 20px;
}

.thumbnail .price{
   font-size: 22px;
   position: absolute;
   top: -10px;
   right: -10px;
   padding:10px;
}
/*selecting the superscript tag <sup>*/
.thumbnail .price sup{
   font-weight: normal;
   font-size: 12px;
}
/*Giving space between the glyphicon and text for superscript*/
.thumbnail span.glyphicon{
   margin-right: 5px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* we use media queries to load the proper image sizes for different browser sizes*/
/* Sytles will load depending of the size of the browser*/

/* Portrait & landscape phone */

/* if max width is no larger that 480px that this will load*/
@media (max-width: 480px) {
   /*resizing the pricetag to make it look smaller when the screen size is shrinked*/
    .thumbnail .price {
      font-size: 14px;
   }
   .thumbnail.price sup{
      font-size: 10px;
   }
}

/* Landscape phone to portrait tablet */

/* if max width is no larger that 768px that this will load*/
/* We say everything below 768 load these styles that is why we dont use 480px*/
@media (max-width: 768px) {
	
   #myCarousel .item { height: 310px; }


      /* .. means go up one folder goes directly to MyWebsite folder... top left is background position, no-repeat means the image does not repeat*/

   #slide1 {
      background: url('../../images/carousel_small_01.jpg') top center no-repeat;
   }
   #slide2 {
      background: url('../../images/carousel_small_02.jpg') top center no-repeat;
   }
   #slide3 {
      background: url('../../images/carousel_small_03.jpg') top center no-repeat;
   }

   /*Change font size for smaller devices*/
   .carousel-caption{
      font-size: 16px;
   }

   .carousel-caption h4 {
      font-size: 22px;
   }
}

/* Large desktop */
/* if min width of viewport is 1200px that this will load*/
@media (min-width: 1200px) {
	
   #myCarousel .item { height: 500px; }

   #slide1 {
      background: url('../../images/carousel_large_01.jpg') top center no-repeat;
   }
   #slide2 {
      background: url('../../images/carousel_large_02.jpg') top center no-repeat;
   }
   #slide3 {
      background: url('../../images/carousel_large_03.jpg') top center no-repeat;
   }
}


